[submodule "3rdparty/torch2trt"]
	path = 3rdparty/torch2trt
	url = https://github.com/NVIDIA-AI-IOT/torch2trt
	branch = master
[submodule "3rdparty/stereo_camera_vo"]
	path = 3rdparty/stereo_camera_vo
	url = git@github.com:lee-shun/stereo_camera_vo.git
