<launch>
    <node pkg="forest_fire_detection_system"
    type="PublishSLAMDataset" name="PublishSLAMDataset_node"
    args="/media/ls/WORK/slam_m300/m300_data_0" respawn="true"
    output="screen"></node>
    <node pkg="forest_fire_detection_system"
    type="test_PoseCalculator" name="test_PoseCalculator_node"
    args="" respawn="true" output="screen"></node>
</launch>
